$padding: 2.5rem;
$margin-0: 0;

body {
    background-image: url("/dist/img/flowers-in-sunset-pexels-david-bartus.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 1vw;
}

#logo {
    min-width: 3vw;
    min-height: 3vh;
}

#sectionContainer {
    display: flex;
}

#loginSection, #registerSection {
    margin-left: 5vw;
}

#registerMsg, #loginMsg {
    max-width: 10rem;
}
main {
    padding: $padding;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
}

#articleContainer {
    max-width: 25vw;
    min-width: 25vw;

    background-color: rgba(250, 235, 215, 0.7);
    padding: 1rem;

    h2 {
        margin-top: $margin-0;
        margin-bottom: 0.8rem;
    }

    p {
        margin: $margin-0;
    }
}

footer {
    background-color: antiquewhite;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: $padding;
    
    h4 {
        margin-bottom: 1.2rem;
    }
}