$padding: 2.5rem;
$margin-0: 0;
$color-linen: linen; 
$color-red: firebrick; 
$color-linen-transp: rgba(250, 235, 215, 0.8);
$color-error: darkorchid;
$font-family-logo: 'Monoton', cursive;
$margin-bottom-heading: 0.6rem;

@mixin btn-red-nofill {
    border: 2px solid $color-red;
    background: none;
    color: $color-red;
}

@mixin btn-red-fill {
    border: 2px solid $color-red;
    background: $color-red;
    color: $color-linen;
}

body {
    background-image: url("/dist/img/flowers-in-sunset-pexels-david-bartus.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 1vw;
}

h1 {
    font-family: $font-family-logo;
    color: $color-red;
    margin-left: 3vw;
}

.logo-font {
    font-family: $font-family-logo;
}

#sectionContainer {
    display: flex;
}

#loginSection, #registerSection {
    margin-left: 5vw;
}

#registerMsgContainer, #loginMsgContainer {
    max-width: 10rem;
}

button {
    min-height: 5vh;
    max-height: 6vh;
    min-width: 9vw;
    margin-top: 1rem;
    font-size: 0.9rem;
    border-radius: 1rem;
}

.btn-red-nofill {
    @include btn-red-nofill; 
}

.btn-red-fill {
    @include btn-red-fill;
}

main {
    padding: $padding;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
}

#articleContainer {
    max-width: 27vw;
    min-width: 27vw;
    background-color: $color-linen-transp;
    border-radius: 1rem;
    padding: 0.8rem;
    h3, h4 {
        margin-bottom: $margin-bottom-heading;
    }
    h5 {
        font-size: 1.5rem;
        margin-bottom: $margin-bottom-heading;
    }
    p {
        margin-top: 2px;
        margin-bottom: 10px;
    }
}

.error {
   color: $color-error
}

.highlight {
    color: $color-red;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: $padding;
    text-align: center;
    h5 {
        margin-bottom: 1.2rem;
        color: $color-linen-transp;
    }
}